<div class="container">
    <div class="border text-center fw-bold fs-5">
        {{ firstMonthDay | date:'y' }}
    </div>
    <div class="border text-center fw-bold fs-5">
        {{ firstMonthDay | date:'MMMM' }}
    </div>
    <div class="row" id="calendar">
        <div *ngFor="let weekDay of daysOfTheWeek" class="border p-1 text-center fw-bold">
            {{ weekDay }}
        </div>
    </div>
    <div class="row" id="calendar">
        <div *ngFor="let day of daysMap | keyvalue: mapOrder" class="col p-0">
            <div *ngIf="day.value.length <= 0; else notEmpty">
                <div *ngIf="day.key.length == 1; else notBlank">
                    <div class="border p-1 dayItem">
                    </div>
                </div>
                <ng-template #notBlank>
                    <div *ngIf="day.key == today; else notToday">
                        <div class="border border-dark p-1 dayItem" (click)="showTasks(day.key ,day.value)">
                            {{day.key | date:'d'}}
                        </div>
                    </div>

                    <ng-template #notToday>
                        <div class="border p-1 dayItem" (click)="showTasks(day.key ,day.value)">
                            {{day.key | date:'d'}}
                        </div>
                    </ng-template>
                </ng-template>

            </div>
            <ng-template #notEmpty>
                <div *ngIf="day.key == today; else notToday">
                    <div class="border border-dark p-1 dayItem position-relative" (click)="showTasks(day.key ,day.value)">
                        <div>
                            {{day.key | date:'d'}}
                        </div>
                        <div class="position-absolute top-50 start-50 translate-middle">
                            {{day.value.length}}
                        </div>
                    </div>
                </div>

                <ng-template #notToday>
                    <div class="border p-1 dayItem position-relative" (click)="showTasks(day.key ,day.value)">
                        <div>
                            {{day.key | date:'d'}}
                        </div>
                        <div class="position-absolute top-50 start-50 translate-middle">
                            {{day.value.length}}
                        </div>
                    </div>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>