<div class="container-fluid row">
    <div class="container col border p-2">
        <div>
            <h2>{{today | date:'MMMM d, y (EEEE)'}}</h2>
        </div>
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
                <a ngbNavLink>
                    <h4>Tasks</h4>
                </a>
                <ng-template ngbNavContent>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let task of tasks">
                            <div *ngIf="task.taskNote != null; else elseBlock">
                                <ng-template #note>
                                    <p>{{ task.taskNote }}</p>
                                </ng-template>
                                <p role="button" placement="bottom" [ngbPopover]="note"
                                    popoverTitle="Note:">
                                    {{ task.taskName }}
                                </p>
                            </div>
                            <ng-template #elseBlock>
                                <p> {{ task.taskName }}</p>
                            </ng-template>
                        </li>
                    </ul>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink>
                    <h4>Current task</h4>
                </a>
                <ng-template ngbNavContent></ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

    <div class="container col border p-2">
        <h2>Other info goes here</h2>
    </div>
</div>