<div class="container-fluid row">
    <div class="container col border p-2">
        <div>
            <h2>{{today | date:'MMMM d, y (EEEE)'}}</h2>
        </div>
        <div class="row">
            <div class="col border">
                <h3>Tasks</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let task of tasks">
                        <div *ngIf="task.taskNote != null; else elseBlock">
                            <ng-template #note>
                                <p>{{ task.taskNote }}</p>
                            </ng-template>
                            <p *ngIf="task.taskNote != null" placement="bottom" [ngbPopover]="note"
                                popoverTitle="Note:">
                                {{ task.taskName }}
                            </p>
                        </div>
                        <ng-template #elseBlock>
                            <p> {{ task.taskName }}</p>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div class="col border">
                <h3>Current task</h3>
            </div>
        </div>
    </div>

    <div class="container col border p-2">
        <h2>Other info goes here</h2>
    </div>
</div>