<div class="container-fluid row">
    <div class="container col border p-2">
        <div>
            <h2>{{today | date:'MMMM d, y (EEEE)'}}</h2>
        </div>
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
                <a ngbNavLink>
                    <h4>Tasks</h4>
                </a>
                <ng-template ngbNavContent>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let task of tasks">
                            <div *ngIf="task.taskNote != null; else elseBlock">
                                <ng-template #note>
                                    <p>{{ task.taskNote }}</p>
                                </ng-template>
                                <div role="button" placement="bottom" [ngbPopover]="note" popoverTitle="Note:">
                                    <div *ngIf="task.taskName == currentTask.taskName; else elseBlock"
                                        class="fw-bold text-decoration-underline">
                                        {{ task.taskName }}
                                    </div>

                                    <ng-template #elseBlock>
                                        {{ task.taskName }}
                                    </ng-template>
                                </div>
                            </div>
                            <ng-template #elseBlock>
                                <p> {{ task.taskName }}</p>
                            </ng-template>
                        </li>
                    </ul>
                </ng-template>
            </ng-container>
            <ng-container *ngIf="currentTask != null" ngbNavItem>
                <a ngbNavLink>
                    <h4>Task in progress</h4>
                </a>
                <ng-template ngbNavContent>
                    <p>Name: {{ currentTask.taskName }}</p>
                    <p>Note: {{ currentTask.taskNote }}</p>
                    <p>Start time: {{ currentTaskStartTime | date:'HH:mm'}}</p>
                    <p>End time: {{ currentTaskEndTime | date:'HH:mm'}}</p>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

    <div class="container col border p-2">
        <h2>Additional information:</h2>
        <h4 class="pt-2 pb-3">Current time: {{date | date:'HH:mm:ss'}}</h4>
        <div *ngIf="currentTask != null">
            <p>Total task length: {{totalTaskTime}}</p>
            <p>Elapsed time: {{elapsedTime}}</p>
            <p>Remaining time: {{remainingTime}}</p>
        </div>
        <!-- <p *ngIf="currentTask != null">Current task: {{ currentTask.taskName }}</p> -->
    </div>
</div>