<form [formGroup]="newTaskForm" class="container p-3">
    <div class="row mb-3">
        <div class="col-3">
            <label for="taskName" class="col-form-label">Name:</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="taskName" value="Name of the task" formControlName="taskName">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="taskDate" class="col-form-label">Date:</label>
        </div>
        <div class="col">
            <input type="date" class="form-control" id="taskDate" formControlName="taskDate">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="startTime" class="col-form-label">Start time:</label>
        </div>
        <div class="col">
            <input type="time" class="form-control" id="startTime" formControlName="startTime">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="endTime" class="col-form-label">End time:</label>
        </div>
        <div class="col">
            <input type="time" class="form-control" id="endTime" formControlName="endTime">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="taskNote" class="col-form-label">Note:</label>
        </div>
        <div class="col">
            <textarea class="form-control" id="taskNote" rows="2" placeholder="Write a short note..." formControlName="taskNote"></textarea>
        </div>
    </div>

    <div class="d-grid">
        <button type="button" class="btn btn-success">Add task</button>
    </div>
</form>