<form [formGroup]="newTaskForm" class="container p-3" (ngSubmit)="checkForm()">
    <div class="row mb-3">
        <div class="col-3">
            <label for="taskName" class="col-form-label">Name:</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="taskName" placeholder="Name of the task"
                formControlName="taskName">
        </div>

        <div>
            <div *ngIf="taskName?.invalid && (taskName?.dirty || taskName?.touched)"
                class="alert alert-danger p-2 mb-0">
                <small *ngIf="taskName?.errors?.['required']">Name is required.</small>
                <small *ngIf="taskName?.errors?.['minlength']">Name must be at least 2 characters long.</small>
                <small *ngIf="taskName?.errors?.['maxlength']">Name must not be longer than 50 characters.</small>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="taskDate" class="col-form-label">Date:</label>
        </div>
        <div class="col">
            <input type="date" class="form-control" id="taskDate" formControlName="taskDate">
        </div>

        <div>
            <div *ngIf="taskDate?.invalid && (taskDate?.dirty || taskDate?.touched)" class="alert alert-danger p-2 m-0">
                <small *ngIf="taskName?.errors?.['required']">Date is required.</small>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"  (click)="toggleRepetition()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Toggle repetition options</label>
        </div>

        <div class="row" id="repetitionOptions">
            <!-- <div class="col-3">
                <label for="repetition" class="col-form-label">Repetition:</label>
            </div> -->
            <div class="col">
                <select class="form-select" id="repetition" formControlName="repetition">
                    <option *ngFor="let repeatType of repetitionOptions" [value]="repeatType">{{ repeatType }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="startTime" class="col-form-label">Start time:</label>
        </div>
        <div class="col">
            <input type="time" class="form-control" id="startTime" formControlName="startTime">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="endTime" class="col-form-label">End time:</label>
        </div>
        <div class="col">
            <input type="time" class="form-control" id="endTime" formControlName="endTime">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="taskNote" class="col-form-label">Note:</label>
        </div>
        <div class="col">
            <textarea class="form-control" id="taskNote" rows="2" placeholder="Write a short note..."
                formControlName="taskNote"></textarea>
        </div>

        <div>
            <div *ngIf="taskNote?.invalid && (taskNote?.dirty || taskNote?.touched)" class="alert alert-danger p-2 m-0">
                <small *ngIf="taskNote?.errors?.['maxlength']">Note must not be longer than 200 characters.</small>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label for="category" class="col-form-label">Category:</label>
        </div>
        <div class="col">
            <select class="form-select" id="category" formControlName="category">
                <option *ngFor="let category of categoryOptions" [value]="category">{{ category }}</option>
            </select>
        </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger p-2 m-0 mb-2">
        {{ errorMessage }}
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-success">Add task</button>
    </div>
</form>