<ol class="list-group">
    <li class="list-group-item fw-bold">
        {{ task.taskName }}
    </li>
    <li class="list-group-item" *ngIf="task.taskNote != null">
        Note: {{ task.taskNote }}
    </li>
    <div *ngIf="task.taskStartTime != task.taskEndTime">
        <li class="list-group-item">
            Start time: {{ task.taskStartTime | date:'HH:mm'}}
        </li>
        <li class="list-group-item">
            End time: {{ task.taskEndTime | date:'HH:mm'}}
        </li>
    </div>
</ol>