<ol class="list-group">
    <li class="list-group-item fw-bold p-3">
        {{ task.taskName }}
    </li>
    <li class="list-group-item" *ngIf="task.taskNote != null">
        Note: {{ task.taskNote }}
    </li>
    <div *ngIf="task.taskStartTime != task.taskEndTime">
        <li class="list-group-item">
            Start time: {{ task.taskStartTime | date:'HH:mm'}}
        </li>
        <li class="list-group-item">
            End time: {{ task.taskEndTime | date:'HH:mm'}}
        </li>
    </div>
    <li class="list-group-item p-3">
        <div class="d-grid">
            <button type="button" class="btn btn-primary">Modify task</button>
        </div>
    </li>
</ol>