<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <a class="nav-link active" id="main" #main aria-current="page" routerLink="/main" (click)="isMenuCollapsed = true; makeActive(main)">Main</a> -->
          <a class="nav-link active" id="main" aria-current="page" routerLink="/main" (click)="isMenuCollapsed = true">Main</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" id="calendar" #calendar aria-current="false" routerLink="calendar" (click)="isMenuCollapsed = true; makeActive(calendar)">Calendar</a> -->
          <a class="nav-link" id="calendar" #calendar aria-current="false" routerLink="calendar" (click)="isMenuCollapsed = true">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="insights" aria-current="false" routerLink="#" (click)="isMenuCollapsed = true">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="settings" aria-current="false" routerLink="#" (click)="isMenuCollapsed = true">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>